<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcs5ngQ83xHKvQCLCtNdlKVy0xLjMvo8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>769671655197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spannerdoor.app</string>
	<key>PROJECT_ID</key>
	<string>spannerdoor-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>spannerdoor-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769671655197:ios:5f41995d6309aa37b1fbf4</string>
</dict>
</plist>